* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  flex-wrap: wrap;
}

.blocks {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 20px;
  
}

h3 {
  padding: 10px 0;
}

.section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 45%;
}

.splitted_items {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.section__item {
  margin-bottom: 15px;
  position: relative;
  flex: 1;
}

.section__item input  {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
}

.section__item select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
}

.section__item input:focus {
  border-color: #007BFF;
  background-color: #fff;
}

.section__item input[type="text"],
.section__item input[type="tel"],
.section__item input[type="email"] {
  color: #333;
}

.section__item input::placeholder {
  color: #aaa;
}

.section__item input[type="text"]:not(:placeholder-shown),
.section__item input[type="tel"]:not(:placeholder-shown),
.section__item input[type="email"]:not(:placeholder-shown) {
  color: #333;
}

.job_description {
  height: 10vh;
}

.buttons {
  display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}

.buttons__item {
  background-color: #b9c3d8;
  border-radius: 100px;
  color: #292929;
  border: 2px solid #06054e;
  padding: 15px 45px;
  font-family: Arial, sans-serif;;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  line-height: 130%;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #3c3370;
  color: #e6d7d7;
}

.hidden_loader {
  display:none;
}

/* Popup styles */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-header {
  padding: 0 0 20px;
}

.popup-content {
  background: #ece3e3;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  width: 80%;
  max-width: 650px;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.hidden {
  display:none
}

.popup_btn {
  background-color: #b9c3d8;
  border-radius: 100px;
  color: #0d4235;
  border: 2px solid #01220e;
  padding: 15px 45px;
  font-family: Arial, sans-serif;;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  line-height: 130%;
  font-style: normal;
  transition: all 0.3s ease-in-out;

}